*{box-sizing: border-box;font: 50px handjet;}

@font-face {
	font-family: handjet;
	src: url("./font/Handjet[ELGR\,ELSH\,wght].woff2");
}

body{
	background-color: #000;
	color: #fff;
	box-sizing: border-box;
}
canvas{
	background-color: olivedrab;
	width: 80%;
	display: block;
}
#main{
	text-align: center;
	padding: 30px;
}
#box{
	text-align: center;
	background-color: #555;
	display: inline-block;
	width: 100%;
	height: 90%;
}
td{
	background-color: #333;
	padding: 5px;
}
.hide{
    position: absolute;
    left: 30px;top:30px;
    opacity: 0.01;
    z-index:-50;
}

#tare{
    width: 100%;
    background-color: olivedrab;
    height: 1.5em;
    padding:10px;
    outline: none !important;
    caret-color: black;
}

#output{
    background: olivedrab;
    padding: 10px;
    color:black;
}